<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <main class="w-[100vw] min-h-[100vh] bg-gray-950">
      <p class="notice fixed"><%= notice %></p>
      <p class="alert fixed"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
